<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button (click)="onClick1()">Sign up</ion-button><<!---->
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Login</h1>
    <img src="../../assets/logo1.png" />
  </div>
<div id="form">
  <ion-input placeholder="Email" ></ion-input><!--[(ngModel)]="email"-->
  <ion-input type="password" placeholder="Password" ></ion-input><!--[(ngModel)]="password"-->
  <ion-button expand="block" shape="round" >Login</ion-button><!--(click)="onClick2()"-->
</div>
</ion-content>