.bg-col{
    margin-top:0%;
    height: 100%;
    width:100%;
    background: url("../../assets/Monoprix-vetements-1.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
  }
  .c{
    position: absolute;
    text-align: center;
    padding-left: 30% ;
    margin-top: 70%;
    color: white;
  }
  .d{
    
      position: absolute;
      text-align: center;
      padding-left: 20% ;
      margin-top: 80%;
      font-size:medium
  
  }