#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}
ion-content{
  padding:0%;
}
.bg-col{
  margin-top:0%;
  height: 100%;
  width:100%;
  background: url("../../assets/Monoprix-vetements-1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
}
.c{
  position: absolute;
  text-align: center;
  padding-left: 10px ;
  margin-top: 50%;
}
.d{
  
    position: absolute;
    text-align: center;
    padding-left: 35% ;
    margin-top: 70%;
    color: blue;
    text-decoration: underline;

}